<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Producto No encontrado.</h1>
  <!-- el atributo "action" define la URL a la que se envían los datos del formulario cuando se envía -->
  <a href='/productos'>Volver al Menu</a>
</body>
</html>